<tbody *ngIf="productInBill">
    <div *ngFor="let item of listgoodsIssueNote">
        <tr>
            <td>{{productInfo?.name}}</td>
            <td>{{item.quantity}} {{item.unit.unit}}</td>
            <td>{{item.unit.price}}</td>
            <td>Khuyến mãi</td>
            <td>{{item.quantity * item.unit.price}}</td>
        </tr>
        <tr>
            <td>Lô: {{item.batches.batchBarcode}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Ngày hết hạn: {{item.batches.expiryDate | date:'dd/MM/yyyy'}}</td>
        </tr>
    </div>
</tbody>