<div class="text-center" style="margin: auto; width: 800px;">
    <section class="text-center">
        <div class="logo">
            <img src="./../../../../assets/img/logo.jpg" alt="skjdfka" style="max-width: 200px" />
        </div>
        <div style="font-size: 20px; text-transform: uppercase;">Nhà thuốc tiện lợi</div>
        <div>Địa chỉ: 40 đường 225a, phường Tân Phú, thành phố Thủ Đức</div>
        <div>Số điện thoại: 093-8970-968</div>
        <div>Xin chào: ....</div>
        <div class="d-flex justify-content-center">
            <img src="./../../../../assets/img/logo.jpg" alt="aksjdkas" style="max-width: 125px" />
            <div>
                <div style="font-size: 40px">Thẻ Thành Viên</div>
                <div>Tiết kiệm hơn - Sống khoẻ hơn</div>
            </div>
        </div>
    </section>
    <div>
        Thành viên Member {{printBill?.customerId}}
    </div>
    <div style="margin: auto;">
        *************************************************************
    </div>
    <section class="text-center">
        <div class="d-flex justify-content-between">
            <div>Thu ngân: </div>
            <div>Ngày: 10/25/2022</div>
        </div>
        <div class="d-flex justify-content-between">
            <!-- <div>POS: SG123131</div> -->
            <div>Giờ: 12:30</div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tên</th>
                    <th scope="col">SL</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Khuyến mãi</th>
                    <th scope="col">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                <!-- Thông tin hoá đơn -->
                <tr>
                    <td>Tên</td>
                    <td>6 viên</td>
                    <td>Đơn giá</td>
                    <td>Khuyến mãi</td>
                    <td>6000</td>
                </tr>
                <tr>
                    <td>Lô: 22360</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Ngày hết hạn: 25/03/2025</td>
                </tr>

                <tr>
                    <td>Tên</td>
                    <td>6 viên</td>
                    <td>Đơn giá</td>
                    <td>Khuyến mãi</td>
                    <td>6000</td>
                </tr>
                <tr>
                    <td>Lô: 22360</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Ngày hết hạn: 25/03/2025</td>
                </tr>
                <tr>
                    <td>Tên</td>
                    <td>6 viên</td>
                    <td>Đơn giá</td>
                    <td>Khuyến mãi</td>
                    <td>6000</td>
                </tr>
                <tr>
                    <td>Lô: 22360</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Ngày hết hạn: 25/03/2025</td>
                </tr>
            </tbody>
        </table>
    </section>
    <div style="margin: auto;">
        ---------------------------------------------------------
    </div>
    <section class="text-center">
        <div class="d-flex justify-content-start" style="padding-left: 100px">
            Tổng 18 sản phẩm
        </div>
        <div class="d-flex justify-content-between">
            <div>Tổng tiền</div>
            <div>105,600</div>
        </div>
        <div class="d-flex justify-content-between">
            <div>Tiền mặt</div>
            <div>506,000</div>
        </div>
    </section>
    <div style="margin: auto;">
        ---------------------------------------------------------
    </div>
    <div class="d-flex justify-content-between">
        <div>Số tiền khách trả:</div>
        <div>105,600</div>
    </div>
    <div class="d-flex justify-content-start" style="padding-left: 100px">
        Bằng chữ: Một trăm.......
    </div>
    <div style="margin: auto;">
        ---------------------------------------------------------
    </div>
    <div class="d-flex justify-content-between">
        <div>Trả lại</div>
        <div>400,000</div>
    </div>
    <div style="margin: auto;">
        ---------------------------------------------------------
    </div>
</div>