<tr>
    <td><i class="fa fa-trash-alt"></i></td>
    <td>{{index}}</td>
    <td>{{InputProduct.barcode}}</td>
    <td>{{InputProduct.name}}</td>
    <td></td>
    <td>
        <nz-input-number [nzMin]="1" [nzStep]="1"></nz-input-number>
    </td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>

    <td [colSpan]="2">
        <span role="button" (click)="showModalBatches()">chọn Lô</span>
        <nz-modal [(nzVisible)]="isVisibleBatches" nzTitle="Tạo lô mới" (nzOnCancel)="handleCancelBatches()"
            (nzOnOk)="handleOkBatches()">
            <ng-container *nzModalContent>
                <div class="form-group">
                    <label for="">Lô</label>
                    <select type="batche" class="form-control" [(ngModel)]="selectBatch"
                        (ngModelChange)="getUnitProductPrice()">
                        <option *ngFor="let batche of batchesList" [value]="batche.id">
                            {{batche.batchBarcode}} - ngày hết hạn: {{batche.expiryDate | date:'dd/MM/yyyy'}}</option>
                    </select>
                </div>
                <div class="row">
                    <div class="form-group col-9">
                        <label for="">Số lượng</label>
                        <input type="number" class="form-control" min="1" [(ngModel)]="quantityBatch">
                    </div>
                    <div class="form-group col-3">
                        <label for="">Đơn vị</label>
                        <select type="batche" class="form-control" [(ngModel)]="selectUnitProductPrice">
                            <option *ngFor="let unit of listUnitProductPrice" [value]="unit.id">
                                {{unit.unit}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Tổng giá</label>
                    <input type="number" class="form-control" min="1" [(ngModel)]="totalPrice">
                </div>

            </ng-container>
        </nz-modal>
    </td>
    <td [colSpan]="4">
        <nz-tag [nzColor]="'green'" *ngFor="let item of goodsReceiptNote.batches, let i = index">
            <span style="margin: 5px 10px 5px 5px;">{{item.batchId}} - {{item.quantity}}</span>
            <i class="fa fa-times" role="button" (click)="deleteSelectBatches(i)"></i>
        </nz-tag>
    </td>
    <td role="button" (click)="showModalNewBatch()">
        <i class="fa fa-plus"></i>Thêm Lô
        <nz-modal [(nzVisible)]="isVisible" nzTitle="Tạo lô mới" (nzOnCancel)="handleCancelNewBatch()"
            (nzOnOk)="handleOkNewBatch()">
            <ng-container *nzModalContent>
                <div class="form-group mb-3">
                    <h5 for="">Sản phẩm: {{InputProduct.name}}</h5>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="">Ngày sản xuất</label>
                            <input type="date" class="form-control" [(ngModel)]="manufacturingDate">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="">Hạn sử dụng</label>
                            <input type="date" class="form-control" [(ngModel)]="expiryDate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label for="">Số lượng</label>
                            <input type="number" class="form-control" min="1" [(ngModel)]="quantityBatch">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Đơn vị</label>
                            <select type="batche" class="form-control" [(ngModel)]="selectUnitProductPrice">
                                <option *ngFor="let unit of listUnitProductPrice" [value]="unit.id">
                                    {{unit.unit}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Tổng giá</label>
                    <input type="number" class="form-control" min="1" [(ngModel)]="totalPrice">
                </div>
            </ng-container>
        </nz-modal>
    </td>
</tr>