<div class="Product__in__bill">
    <div class="p-2">
        <table class="mb-3">
            <tbody>
                <tr>
                    <td>
                        <h4>{{index}}</h4>
                    </td>
                    <!-- <td>
                        {{Product.barcode}}
                    </td> -->
                    <td>
                        <h3>{{Product.name}}</h3>
                    </td>
                    <td>
                        Đường dùng: {{listRouteInAdministrations[0].name}}
                    </td>
                    <td colspan="3">
                        <textarea rows="2" placeholder="Ghi chú" nz-input [(ngModel)]="inputValue"></textarea>
                    </td>
                    <td style="float: right;" role="button" (click)="showConfirm()">
                        <i class="fa fa-times-circle"></i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>

                    </td>
                    <td>Tổng tiền: {{totalPrice | currency:'VND'}}</td>
                </tr>
                <tr app-retail-select-consignment-of-product-in-bill
                    *ngFor="let item of billProduct.goodsIssueNote let i = index" [index]="i"
                    (deleteBatches)="deleteConsignment($event)" [listUnitProduct]="listUnitProduct"
                    (ChangeProductQuantity)="getProductGoodIssueNote($event)">
                </tr>
                <tr *ngIf="listBatches.length > billProduct.goodsIssueNote.length">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div *ngIf=" listBatches.length> 1">
                            <div role="button" (click)="addConsignment()" class="w-100">
                                <i class="fa fa-plus"></i>Thêm Lô
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>