<!-- {{listInBill1.value}}
<input type="number" class="form-group" [(ngModel)]="listInBill1.quantity" (ngModelChange)="addQuantity($event)"> -->

<table class="mb-3">
    <tbody>
        <tr>
            <td>{{index}}</td>
            <td>{{Product.id}}</td>
            <td>{{Product.name}}</td>
            <td>
                <nz-select ngModel="1">
                    <nz-option *ngFor="let route of listRouteInAdministrations" nzValue={{route.id}}
                        nzLabel={{route.name}}></nz-option>
                </nz-select>
            </td>
            <td colspan="2">
                <textarea rows="2" placeholder="Ghi chú" nz-input [(ngModel)]="inputValue"></textarea>
            </td>
            <td style="float: right;" role="button" (click)="showConfirm()">
                <i class="fa fa-times-circle"></i>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Đơn giá: {{unitPrice}} VNĐ</td>
            <td>Số lượng:
                <nz-input-number nzBorderless [(ngModel)]="billQuantity" [nzMin]="billQuantity"
                    (ngModelChange)="addQuantity($event)"></nz-input-number>
            </td>
            <td>
                <nz-select [(ngModel)]="unitPriceID" (ngModelChange)="chageUnitPrice()">
                    <nz-option *ngFor="let item of listUnitProduct" nzValue={{item.id}} nzLabel={{item.unit.name}}>
                    </nz-option>
                </nz-select>
            </td>
            <td>Tổng tiền: {{unitPrice * billQuantity}} VNĐ
                <input type="hidden" value={{unitPrice * billQuantity}} #total>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
                    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                </nz-select>
            </td>
            <td>hàng tồn: 10</td>
            <td>Số lượng:
                <nz-input-number nzBorderless [(ngModel)]="demoValue"></nz-input-number>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td role="button">
                <i class="fa fa-plus"></i>Thêm Lô
            </td>
        </tr>
    </tbody>
</table>