<div class="container-fluid">

  <div class="row mt-5">
    <div class="col-9">
      <div class="customer__in__bill p-3">
        <!-- <app-test-reducer></app-test-reducer> -->
        <div class="example-input">
          <div class="d-flex justify-content-md-between align-items-center">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Thêm Thuốc vào hóa đơn"
                       [(ngModel)]="searchValue" style="width: 94%;" (ngModelChange)="addToListBill()"
                       (nzOnSearch)="searchProduct($event)">
              <nz-option *ngFor="let item of listSearchProduct"
                         [nzLabel]="'Tên '+item.name + ' - vị trí: ' + item.shelf.name" nzValue={{item.id}}>
              </nz-option>
            </nz-select>
            <i class="fa fa-barcode" role="button" style="font-size: 20px;"></i>
            <i class="fa fa-clipboard-list" role="button" style="font-size: 20px;" nz-button></i>
          </div>
          <nz-divider></nz-divider>
          <div>
            <div class="overflow-auto" style="height: 600px;">
              <app-retail-product-in-bill *ngFor="let item of listProductInBill, let index = index"
                                          [productInbill]="item" [index]="index"></app-retail-product-in-bill>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="customer__in__bill p-3 mb-3" style="position: relative;">
      </div>
    </div>
  </div>
</div>
