.container-fluid {
    padding: 0 48px;
}

#product__in__bill {
    background-color: white;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
}

#customer__in__bill {
    background-color: white;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
    height: 800px;
}