<div class="container-fluid">

    <div class="row mt-5">
        <div class="col-9">
            <div class="p-3" id="customer__in__bill">
                <!-- <app-test-reducer></app-test-reducer> -->
                <div class="example-input">
                    <div class="d-flex justify-content-md-between align-items-center">
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Thêm Thuốc vào hóa đơn"
                            [(ngModel)]="selectedValue" style="width: 94%;" (ngModelChange)="addToListBill()"
                            (nzOnSearch)="searchProduct($event)">
                            <nz-option *ngFor="let item of listProduct" [nzLabel]="item.name + ' - ' + item.barcode"
                                nzValue={{item.id}}>
                            </nz-option>
                        </nz-select>
                        <i class="fa fa-barcode" role="button" style="font-size: 20px;"></i>
                        <i class="fa fa-clipboard-list" role="button" style="font-size: 20px;" nz-button
                            (click)="showModal()">
                        </i>
                        <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()"
                            (nzOnOk)="handleOk()" [nzWidth]="1000">
                            <ng-container *nzModalContent>
                                <app-example-bill></app-example-bill>

                            </ng-container>
                        </nz-modal>
                    </div>
                    <nz-autocomplete [nzDataSource]="listProduct" nzBackfill #auto></nz-autocomplete>
                    <nz-divider></nz-divider>
                    <div>
                        <div class="overflow-auto" style="height: 600px;">
                            <app-retail-product-in-bill *ngFor="let item of listInBill let i = index" [index]="i + 1"
                                [Product]="item" (quantityOfProduct)="quantityProduct($event)"
                                (invoiceInfoProduct)="addInvoice($event)" (DeleteProduct)="deleteProductInBill($event)">
                            </app-retail-product-in-bill>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3 mb-3" id="customer__in__bill" style="position: relative;">
                <app-retail-customer-in-bill [totalBill]="totalBill" [TotalProductInBill]="listInBill"
                    [InvoiceProduct]="listInvoiceProduct"></app-retail-customer-in-bill>
            </div>
        </div>
    </div>
</div>